@use "variables"

$shake_pan_strength: 2px
$shake_roll_strength: 0.5deg

@keyframes camera-shake
  0%
    transform: translate(0, 0) rotate(0)
  10%
    transform: translate(-#{$shake_pan_strength}, -#{$shake_pan_strength}) rotate(-#{$shake_roll_strength})
  20%
    transform: translate(#{$shake_pan_strength}, #{$shake_pan_strength}) rotate(#{$shake_roll_strength})
  30%
    transform: translate(-#{$shake_pan_strength}, #{$shake_pan_strength}) rotate(-#{$shake_roll_strength})
  40%
    transform: translate(#{$shake_pan_strength}, -#{$shake_pan_strength}) rotate(#{$shake_roll_strength})
  50%
    transform: translate(0, 0) rotate(0)
  100%
    transform: translate(0, 0) rotate(0)

html, body
  --onscreen-horizontal-adjustment: 50%
  --onscreen-vertical-adjustment: 50%
  touch-action: none
  background-color: variables.$color_a_dark
  color: variables.$color_a_light
  font-family: variables.$font_family_default
*::selection
  background-color: variables.$color_a_light
  color: variables.$color_a_dark


.wrapper
  display: grid
  grid-template-areas: 'sidel container sider'
  grid-template-columns: 1fr 1fr 1fr
  height: 100vh
  height: 100dvh
  overflow: clip
  &.normal
    .screen-gamepad-joystick
      left: var(--onscreen-horizontal-adjustment)
    .screen-gamepad-buttons, .onscreen-menu-button
      right: var(--onscreen-horizontal-adjustment)
  &.reversed
    .screen-gamepad-joystick
      right: var(--onscreen-horizontal-adjustment)
    .screen-gamepad-buttons, .onscreen-menu-button
      left: var(--onscreen-horizontal-adjustment)
    grid-template-areas: 'sider container sidel'

.container
  height: 100dvh
  display: grid
  align-items: center
  justify-content: center
  grid-area: container

.side
  position: relative
  z-index: 1

.side-l
  grid-area: sidel

.side-r
  grid-area: sider

.screen-gamepad-joystick, .screen-gamepad-buttons
  position: absolute
  top: var(--onscreen-vertical-adjustment)

.onscreen-menu-button
  position: absolute
  top: 2 * variables.$gutter
  button.kitbashi-button
    position: absolute
    left: -50%
    transform: translateX(-50%)
    img
      width: 2 * variables.$gutter
      height: 2 * variables.$gutter
      max-width: 2 * variables.$gutter

.screen
  background-color: variables.$color_a_dark
  outline: 1px solid variables.$color_b_light
  container-type: size
  position: relative

.menu-container
  padding: 2 * variables.$gutter
  display: grid
  gap: variables.$gutter
  width: 100%
  max-height: 100%
  justify-content: center
  overflow-y: auto
  background: variables.$color_a_dark

.menu-head
  text-align: center
  margin-bottom: variables.$gutter
  margin-top: 2 * variables.$gutter

.ingame-menu
  padding: variables.$gutter
  position: absolute
  top: 0
  left: 50%
  transform: translate(-50%, -250%)
  visibility: hidden
  height: 100%
  transition: transform 0.5s
  transition-behavior: allow-discrete
  display: flex
  flex-direction: column
  &.active
    visibility: visible
    transform: translate(-50%, 0)
  @container (height < 40em)
    background: variables.$color_a_dark
