@use "variables"

$shake_pan_strength: 2px
$shake_roll_strength: 0.5deg

@keyframes camera-shake
  0%
    transform: translate(0, 0) rotate(0)
  10%
    transform: translate(-#{$shake_pan_strength}, -#{$shake_pan_strength}) rotate(-#{$shake_roll_strength})
  20%
    transform: translate(#{$shake_pan_strength}, #{$shake_pan_strength}) rotate(#{$shake_roll_strength})
  30%
    transform: translate(-#{$shake_pan_strength}, #{$shake_pan_strength}) rotate(-#{$shake_roll_strength})
  40%
    transform: translate(#{$shake_pan_strength}, -#{$shake_pan_strength}) rotate(#{$shake_roll_strength})
  50%
    transform: translate(0, 0) rotate(0)
  100%
    transform: translate(0, 0) rotate(0)

html, body
  touch-action: none
  background-color: variables.$color_a_dark
  color: variables.$color_a_light
  font-family: variables.$font_family_default
*::selection
  background-color: variables.$color_a_light
  color: variables.$color_a_dark

.container
  overflow: clip
  height: 100vh
  height: 100dvh
  max-width: 1000px
  width: 100%
  margin: 0 auto
  display: grid
  align-items: center
  justify-content: center

.screen
  background-color: variables.$color_a_dark
  outline: 1px solid variables.$color_b_light

.menu-container
  padding: variables.$gutter
  display: flex
  flex-direction: column
  gap: variables.$gutter
  width: 100%
  height: 100%
  justify-content: center
  align-items: center

.row
  display: flex
  flex-wrap: wrap
  gap: variables.$gutter
  margin-bottom: variables.$gutter