@use "variables"

@keyframes blink
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0


@keyframes spin
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%, -50%) rotate(-360deg)

@keyframes wiggle
  0%
    transform: translate(-50%, -50%)
  50%
    transform: translate(-47%, -50%) rotate(-2deg)
  100%
    transform: translate(-50%, -50%)

@keyframes wiggle-vertical
  0%
    transform: translate(-50%, -50%)
  50%
    transform: translate(-50%, -45%) rotate(-2deg)
  100%
    transform: translate(-50%, -50%)

@keyframes player
  0%
    background: url("/assets/sprites/player/body0001.png") no-repeat
    background-size: contain
  20%
    background: url("/assets/sprites/player/body0002.png") no-repeat
    background-size: contain
  40%
    background: url("/assets/sprites/player/body0003.png") no-repeat
    background-size: contain
  60%
    background: url("/assets/sprites/player/body0004.png") no-repeat
    background-size: contain
  80%
    background: url("/assets/sprites/player/body0005.png") no-repeat
    background-size: contain



.sprite
  position: absolute
  left: 0
  top: 0
  &.blink
    animation: blink 0.3s steps(1) infinite

  &:after, &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: variables.$color_b_light
    width: 60px
    height: 60px

  &.player
    &:before
      width: 80px
      height: 80px
      background: url("/assets/sprites/player/body0001.png") no-repeat
      background-size: contain
      animation: player 0.2s steps(5) infinite
      transition: transform 0.2s
    &.lean-up
      &:before
        transform: translate(-50%, -50%) rotate(-15deg)
    &.lean-down
      &:before
        transform: translate(-50%, -50%) rotate(15deg)
    &:after
      background: none

  &.projectile
    &:after
      width: 20px
      height: 20px
      border-radius: 100%
      border: 1px solid variables.$color_a_light
      background: variables.$color_b_light
    &:before
      background: none

  &.player-projectile
    &:after
      width: 15px
      height: 15px
      border-radius: 100%
      border: 1px solid variables.$color_b_light
      background: variables.$color_a_dark
    &:before
      background: none

  &.enemy-ram
    &:before
      background: url("/assets/sprites/ram/anim.png") no-repeat
      background-size: contain
      animation: wiggle-vertical 0.2s linear infinite
    &:after
      background: url("/assets/sprites/ram/body.png") no-repeat
      background-size: contain


  &.enemy-shooter
    &:before
      background: url("/assets/sprites/shooter/anim.png") no-repeat
      background-size: contain
      animation: wiggle 0.2s linear infinite
    &:after
      background: url("/assets/sprites/shooter/body.png") no-repeat
      background-size: contain
