@use "variables"

@keyframes blink
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

.sprite
  position: absolute
  left: 0
  top: 0
  &.blink
    animation: blink 0.3s steps(1) infinite

  &:after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    width: 30px
    height: 30px
    background: variables.$color_a_light


