@use "variables"

.viewport
  overflow: hidden
  position: relative
  transform-origin: 0 0

.ingame-menu
  padding: variables.$gutter
  background: variables.$color_a_dark
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -250%)
  visibility: hidden

  transition: transform 0.5s
  transition-behavior: allow-discrete

  &.active
    visibility: visible
    transform: translate(-50%, -50%)